*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
}
.welcome{
    opacity: 0.4;
}
.letter{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}
.keys-guessed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.letter img{
    margin-top: 2rem;
    width: 10%;
}
.hide{
    visibility: hidden;
}
.guessed{
    margin-top: 2rem;
    color: green;
    opacity: 0.4;
}
.wrong-guess{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(203, 17, 17);
    opacity: 0.4;
}
h2#would-you{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(226, 167, 116);
}
button#play-again{
    width: 4rem;
    height: 2rem;
    border-radius: 4px;
    background-color: #353b51;
    color: white;
}
.show-letter{
    margin-top: 3rem;
    position: absolute;
}